;
;       This is the sample Net-Library configuration file which
;       shows how to specify the different types of drivers which
;	will be used by Client-Library and Server-Library
;	applications.
;
;
;  	This is the sample for the Linux 2.2.x platform
;
[DIRECTORY]
;ldap=libsybdldap.so ldap://ldaphost/dc=sybase,dc=com

[SECURITY]
;csfkrb5=libsybskrb.so secbase=@MYREALM libgss=/krb5/lib/libgssapi_krb5.so

[FILTERS]
;ssl=libsybfssl.so
